.buttonEasy {
	background-color: var(--color-additional);
	color: #000000;
}

.buttonEasy:hover,
.buttonEasy:focus {
	outline-color: var(--color-additional);
	box-shadow: 0 0 0 3px var(--color-background),
		0 0 0 6px var(--color-additional);
}

.buttonMedium {
	background-color: var(--color-secondary);
	color: #000000;
}

.buttonMedium:hover,
.buttonMedium:focus {
	outline-color: var(--color-secondary);
	box-shadow: 0 0 0 3px var(--color-background),
		0 0 0 6px var(--color-secondary);
}

.buttonHard {
	background-color: var(--color-primary);
}

.buttonHard:hover,
.buttonHard:focus {
	outline-color: var(--color-primary);
	box-shadow: 0 0 0 3px var(--color-background), 0 0 0 6px var(--color-primary);
}
