:root {
	--color-primary: #b7000b;
	--color-secondary: #f7d100;
	--color-additional: #2bca63;
	--color-background: #002939;
	--status-bar-background-color: var(--color-primary);
}

$breakpoint-small: 600px;
$breakpoint-medium: 900px;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Comfortaa", sans-serif;
	background-color: var(--color-background);
	color: #ffffff;
	font-size: 16px;

	@media (min-width: $breakpoint-medium) {
		font-size: 18px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

h1,
h2 {
	position: relative;
	font-size: 24px !important;
	color: var(--color-secondary);
	z-index: 1;
	text-shadow: 0 2px 0 var(--color-background);
	margin-bottom: 1rem !important;

	@media (min-width: $breakpoint-small) {
		font-size: 32px !important;
	}

	@media (min-width: $breakpoint-medium) {
		font-size: 40px !important;

		&:after {
			content: "";
			background-color: gray;
			background: linear-gradient(
				to bottom,
				transparent,
				var(--color-secondary)
			);
			opacity: 0.25;
			position: absolute;
			width: 110%;
			height: 20px;
			bottom: 3px;
			left: -5%;
			right: 0;
			display: block;
			z-index: -1;
			border-radius: 5px;
		}
	}
}

.h3 {
	font-size: 18px !important;
	margin-top: 3rem;

	&:after {
		content: none;
	}

	@media (min-width: $breakpoint-small) {
		font-size: 24px !important;
	}

	@media (min-width: $breakpoint-medium) {
		font-size: 30px !important;
	}
}

main {
	padding: 4rem 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

strong {
	font-weight: 700;
}

a {
	border-bottom: 2px solid var(--color-secondary);
	transition: border-bottom 0.25s;

	&:hover {
		border-bottom: 2px solid #f7d10070;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	background: none;
	border: 0;
	color: #ffffff;
	background-color: var(--color-primary);
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 1000px;
	margin: 0.25rem;
	outline: 0;
	box-shadow: 0 0 0 3px var(--color-background), 0 0 0 6px transparent;
	transition: box-shadow 0.25s;

	@media (min-width: $breakpoint-small) {
		padding: 0.75rem 2rem;
		margin: 0.5rem;
	}
}

button:disabled {
	background-color: gray;
	opacity: 0.5;
	outline: 0;

	&:hover {
		cursor: default;
		outline: 0;
	}
}

button:hover,
button:focus {
	cursor: pointer;
	box-shadow: 0 0 0 3px var(--color-background),
		0 0 0 6px var(--color-additional);
}
